In [1]:
##      Importer les librairies pandas numpy seaborn matplotlib.pyplot

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score

df = pd.read_csv('data.csv')

In [2]:
df.shape
df.isnull().sum()
df.dtypes
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

**Question 2**

In [3]:
"""plt.figure(figsize=(10,10))
sns.heatmap(df.corr(), annot=True, fmt='.0%')
plt.show() """ #heap map

"plt.figure(figsize=(10,10))\nsns.heatmap(df.corr(), annot=True, fmt='.0%')\nplt.show() "

**Question 3**

On constate des colonnes de type float
Il faudrait dans l'idéal avoir des int 
nous allons donc devoir les converitr

In [4]:
df['price'] = df['price'].astype('int64')
df['bedrooms'] = df['bedrooms'].astype('int64')
df['bathrooms'] = df['bathrooms'].astype('int64')
df['floors'] = df['floors'].astype('int64')

**Question 4**

In [5]:
df.dtypes

date             object
price             int64
bedrooms          int64
bathrooms         int64
sqft_living       int64
sqft_lot          int64
floors            int64
waterfront        int64
view              int64
condition         int64
sqft_above        int64
sqft_basement     int64
yr_built          int64
yr_renovated      int64
street           object
city             object
statezip         object
country          object
dtype: object

On remarque tout est bien en int

**Question 5**

Les prix sont tous élevé

**Question 6**

In [6]:
df['price'].replace(0, np.nan, inplace=True)

**Question 7**

In [7]:
df.isna().sum()

date              0
price            49
bedrooms          0
bathrooms         0
sqft_living       0
sqft_lot          0
floors            0
waterfront        0
view              0
condition         0
sqft_above        0
sqft_basement     0
yr_built          0
yr_renovated      0
street            0
city              0
statezip          0
country           0
dtype: int64

**Question 8**

In [8]:
df['price'].fillna(df['price'].mean(), inplace=True)

**Question 9**

In [9]:
df.isna().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

**Question 10**

In [10]:
ville = pd.get_dummies(df['city'])
ville.head()

,Algona,Auburn,Beaux Arts Village,Bellevue,Black Diamond,Bothell,Burien,Carnation,Clyde Hill,Covington,...,SeaTac,Seattle,Shoreline,Skykomish,Snoqualmie,Snoqualmie Pass,Tukwila,Vashon,Woodinville,Yarrow Point
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

**Question 11**

In [11]:
df.drop(['city', 'country', 'statezip', 'street', 'date'], axis=1, inplace=True)

**Question 12**

In [21]:
#dt = pd.concat([df, ville], axis=1)
scaled_df =df

In [22]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# Cols = list(dt.columns)
# scaled_df = scaler.fit_transform(dt[Cols])
# scaled_df = pd.DataFrame(scaled_df, columns=Cols)

In [23]:
fea = [
    "date", "price", "bedrooms", "bathrooms", "sqft_living", "sqft_lot", "floors", 
    "waterfront", "view", "condition", "sqft_above", "sqft_basement", "yr_built", 
    "yr_renovated", "street", "city", "statezip", "country"
]
print(len(fea))

18

**Question 13**
    ·        Créer la variable cible y  y=scaled_df[‘cible’]
    ·        Créer X=scaled_df en supprimant la variable cible.

In [24]:
y = scaled_df['price']
X = scaled_df.drop(['price'], axis=1)

In [25]:
print(X.head(1))

   bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  \
0         3          1         1340      7912       1           0     0

   condition  sqft_above  sqft_basement  yr_built  yr_renovated
0          3        1340              0      1955          2005

In [26]:
print(y.head(5))

0     313000.0
1    2384000.0
2     342000.0
3     420000.0
4     550000.0
Name: price, dtype: float64

**Question 14**

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state=0)

**Question 15**

In [28]:
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [29]:
lr = linear_model.LinearRegression()
lr.fit(X_train, Y_train)  #phase d’apprentissage
pred = lr.predict(X_test)
score=r2_score(Y_test,pred)
score

0.5743933387233274

In [30]:
print('Mean Absolute Error:', mean_absolute_error(Y_test, pred))
print('Mean Squared Error:', mean_squared_error(Y_test, pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(Y_test, pred)))

Mean Absolute Error: 159774.14595820117
Mean Squared Error: 61511571293.172554
Root Mean Squared Error: 248015.2642342252

**Question 16**

In [31]:
lasso = linear_model.Lasso()
lasso.fit(X_train, Y_train)
pred = lasso.predict(X_test)
score = r2_score(Y_test, pred)
score

C:\Users\SANJAI.R\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:628: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.874e+14, tolerance: 1.314e+11
  model = cd_fast.enet_coordinate_descent(

0.5743908121022973

In [32]:
print('Mean Absolute Error:', mean_absolute_error(Y_test, pred))
print('Mean Squared Error:', mean_squared_error(Y_test, pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(Y_test, pred)))

Mean Absolute Error: 159774.50021154893
Mean Squared Error: 61511936457.63958
Root Mean Squared Error: 248016.0004065052

In [33]:
ridge = linear_model.Ridge()
ridge.fit(X_train, Y_train)
pred = ridge.predict(X_test)
score = r2_score(Y_test, pred)
score

0.5741557973222586

In [34]:
print('Mean Absolute Error:', mean_absolute_error(Y_test, pred))
print('Mean Squared Error:', mean_squared_error(Y_test, pred))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(Y_test, pred)))

Mean Absolute Error: 159812.14631695882
Mean Squared Error: 61545902393.12079
Root Mean Squared Error: 248084.46624712477

In [35]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input

# Initialize a Keras Sequential model
keras_model = Sequential()

input_shape = X_train.shape[1]  
keras_model.add(Input(shape=(input_shape,)))

keras_model.add(Dense(1))

keras_model.layers[-1].set_weights([ridge.coef_.reshape((-1, 1)), np.array([ridge.intercept_])])

# Compile the model
keras_model.compile(optimizer='adam', loss='mean_squared_error')

keras_score = keras_model.evaluate(X_test, Y_test)
print("Keras Model MSE:", keras_score)

# Save the Keras model as .h5
keras_model.save('ridge_model.h5')

29/29 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 54839324672.0000

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Keras Model MSE: 61545902080.0

In [36]:
X_train.shape[1]

12

In [37]:
import numpy as np
from tensorflow.keras.models import load_model

# Step 1: Load the trained model
model = load_model('ridge_model.h5')

# Features to collect from the user
features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated']

# Step 2: Collect user input for selected features
print("Please enter the following information:")
user_input = []
for feature in features:
    value = input(f"{feature.capitalize()}: ")
    # Convert numerical inputs to float
    if value.replace('.', '').isdigit():
        user_input.append(float(value))
    # Convert boolean inputs to int (0 or 1)
    elif value.lower() in ['true', 'false']:
        user_input.append(int(value.lower() == 'true'))
    else:
        user_input.append(value)  # Keep non-numeric inputs as strings

user_input = np.array([user_input])

# Step 3: Predict using the model
predicted_output = model.predict(user_input)

# Step 4: Display the prediction
print("Predicted price:", predicted_output[0])

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

Please enter the following information:
Bedrooms: 3
Bathrooms: 1.5
Sqft_living: 1340
Sqft_lot: 7912
Floors: 1.5
Waterfront: 0
View: 0
Condition: 3
Sqft_above: 1340
Sqft_basement: 0
Yr_built: 1955
Yr_renovated: 2005
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 36ms/step
Predicted price: [382073.75]